@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html {
    font-size: 62.5%;
    line-height: 1.4;
    background-image: url('../img/background4.png');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {	
	flex-direction: row;
	font-family: sans-serif;	
	align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;	
}

/**header**/
header {
    background: #F9F8EF;
    /* position: fixed;
    z-index: 9999; */  
}
button {
    width: 68px;
    height: 40px;
    border: none;
    font-size: 1rem;
}
button + button {
    margin-top: 8px;
}

h1 {
   font-size: 1.8rem;
   color: #58A054;
   margin: 30px 0;
   display: flex;
   justify-content: center;
   vertical-align: middle;
}
h1 .date {
    margin-top: 15px;
}
p {
    font-size: 1.5rem;
    color: #58A054;
    margin: 0;
}
img {
    margin: 14px;
}

/* メニュー */
#btn-menu {
    left: 5%;
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 3;
    background-color: unset;
    outline: none;
    padding: 0;
}
#btn-menu img{
    margin: 0px;
    height: 40px;
    width: 40px;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    display: flex;
    background: #4FA353;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-out;

}
#menu.active {
    visibility: visible;
    opacity: 1;
}

#menu ul {
    display: block;
    width: 100%;
    padding: 120px 0 0;
}

#menu ul li {
    border-right: none;
    border-bottom: 1px solid #333;
    text-align: center;
}
#menu ul li:first-child {
    border-left: none;
    border-top: 1px solid #333;
}
#menu ul li a {
    display: block;
    padding: 0.5em 0;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* grid */
.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: 180px 295px 180px;
    /* grid-auto-rows: 100px; */
    grid-template-areas: 
    "calories calories calories calories"
    "oneday_info highcharts-figure highcharts-figure highcharts-figure"
    "meal_register meal_register meal_register meal_register"
    ;
}

.calories {
    grid-area: calories;
    border: none;
    border-radius: 5px;
    background-color: #F5F1DA;
    margin: 0 auto;
    width: 320px;
    text-align: center;
}
/** 一日の情報 */
.oneday_info {
    grid-area: oneday_info;
    padding-top: 36px;  
    margin-left: 25%;
}
.oneday_info .info {
    background: #F5F1DA;
    border-radius: 5px;
    border: 1px solid #D1CDB9; 
    height: 40px;
    width: 68px; 
}
.oneday_info .info .icon {
    height: 18px;
    width: 18px;
    background-size: 100%;
    background-repeat: no-repeat; 
    margin: 0 auto;
}
.oneday_info .info .icon-breakfast {
    background-image: url('../img/sun2.png');
}
.oneday_info .info .icon-lunch {
    background-image: url('../img/weather.png');
}
.oneday_info .info .icon-dinner {
    background-image: url('../img/moon.png');
}
.oneday_info .info .icon-snack {
    background-image: url('../img/coffee-breaks.png');
}
.oneday_info .info .input-calories {
    color: #333;
    font-size: 1rem;
    margin-top: 3px;
}

/* nutrition charts */
.highcharts-root {
    max-height: 350px;  
}
.highcharts-figure {
    grid-area: highcharts-figure;
    z-index: 0;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 250px;
    max-width: 400px;
    margin: 1em auto;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #000;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 300px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.0em;
    color: #000;
  }
  .highcharts-data-table th {
      font-weight: 400;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: none;
  }
  .highcharts-data-table tr:hover {
    background: none;
  }
  .highcharts-background {
      fill: none;
  }
  .highcharts-credits {
      display: none;
  }
  .highcharts-point {
      fill: #EEBB4D;
  }
  .highcharts-graph {
      stroke: #EEBB4D;
  }
  * {
	box-sizing: border-box;
}
/**calories chart **/
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 0 auto;
	height: 30px;
	width: 300px;
}
.progress-done {
	background: linear-gradient(to left, #fc8621, #f9e0ae);
	box-shadow: 0 3px 3px -5px #f9e0ae, 0 2px 5px #f9e0ae;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
}
    .index-calories .item-name{
        float: left;
        font-size: 1.8rem;
        width: 50%;
        margin-top: 36px;
        font-weight: bold;
    }
    .meal_register .item{
        background-color: #EEBB4D;
        width: 100%;
        height: 50px;
        display: inline-block;
        margin-bottom: 10px;
    }
    /**食事登録**/
    .meal_register {
        display: block;
        grid-area: meal_register;
    }
    .meal_register .item .box-left{
        width: 30%;
        float: left;
        height: 100%;
    }
    .meal_register .item .box-right{
        width: 70%;
        float: left;
        height: 100%;   
    }
    .meal_register .item .icon{
        height: 25px;
        width: 25px;
        background-size: 100% !important;
        background-repeat: no-repeat !important;    
        margin-right: 20px;    
    }
    .meal_register .item .icon.icon-breakfast{
        background: url('../img/sun.png') center;
    }
    .meal_register .item .icon.icon-lunch {
        background: url('../img/weather.png');
    }
    .meal_register .item .icon.icon-dinner {
        background: url('../img/moon.png');
    }
    .meal_register .item .icon.icon-teabreak {
        background: url('../img/coffee-breaks.png');
    }
    .meal_register .item .name{
        color: #fff;
        font-size: 1.8rem;
    }
    .meal_register .item .btn-register{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid #C7C3AE;
        font-size: 13px;
        margin-top: unset;
        z-index: 1;
    }
    .meal_register .item .btn-register.btn-left{
        color: #D8B669;
        font-weight: bold;
        margin-right: 20px;
        background-color: #F5F1DA;
    }
    .meal_register .item .btn-register.btn-right{
        color: #9EE097;
        font-weight: bold;     
        background-color: #F5F1DA;   
    }
    .meal_register .item .content{
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
/* meal regis dialog */
#select-photo-dialog {
    /* border-radius: 30px; */
    /* background: #A4A4A4; */
    border: none;
    width: 100%;
    /* height: 200px; */
    top: 60%;
    position: fixed;
    z-index: 1;
    text-align: center;
}
#select-photo-dialog ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    background: #A4A4A4;
    border-radius: 30px;
    /* padding: 20px 30px; */
    padding: 30px 50px;
}
#select-photo-dialog ul li {
    /* border-bottom: 1px solid #000; */
    height: 50px;
    padding-top: 15px;
}
#select-photo-dialog ul li:not(:last-child) {
    border-bottom: 1px solid #000;
}
#select-photo-dialog ul li label {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

#file {
	opacity: 0;
	position: absolute;
	z-index: -1;
}
#library {
    cursor: pointer;
}
.label-select-photo {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}
/* custom */
.head-menu{
    display: inline-block;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 9999;
    top: 0px;
    height: 70px;
}
.head-menu h1.box-title{
    margin: 0px;
    top: 0px;
    margin: 0px;
    height: 100%;
    align-items: center;
    display: inline-flex;
}
.head-menu .box-title .txt-tile{
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
}
.head-menu .box-title .icon-date{
    background-size: cover !important;
    height: 18px;
    width: 14px;
    display: inline-block;
}
.head-menu .box-title .date-pre{
    background: url('../img/left.png') center no-repeat;
    margin-right: 5px;
    float: left;
}
.head-menu .box-title .date-next{
    background: url('../img/right.png') center no-repeat; 
    float: right;   
    margin-left: 5px;
}
/** meal-detail */
.meal-detail {
    background: #F5F1DA;
    border-radius: 5px;
    box-shadow: #333;
}
.meal-detail-name {
    text-align: center;
}
.meal-detail-name button {
    float: right;
    background-color: #EEBB4D;
    border-radius: 5px;
    box-shadow: #333;
}
.meal-detail h3 {
    padding-top: 16px;
    font-size: 1.6rem;
    margin: 20px;
}
.meal-detail ul {
    width: 100%;
    list-style: none;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.meal-detail ul li {
    display: inline-block;
    width: calc(50% - 3px);
    margin: 5px 0;
}

/* select photo from library */
.select-photo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.select-photo img {
    max-width: 90%;
    padding: 25% 0;
}
.select-photo-btn {
    background-color: #000;
    font-size: 2.0rem;
    color: #fff;
    width: 180px;
    text-align: center;
    display: inline-block;

}
.select-photo-btn .ok {
    right: 0;
    left: unset;
    position: absolute;
    bottom: 60px;
}
.select-photo-btn .cancel {
    left: 0;
    bottom: 60px;
    position: absolute;
}

input[type="file"] {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 20;
    margin: 0;
    font-size: 50px;
    cursor: pointer;
}
.off-select-photo-dialog {
    border-radius: 5px;
    margin-top: 16px;
    background-color: #dcdcdc;
    font-size: 1.6rem;
    width: 100px;
    font-weight: bold;
}