#form1{
    width: 50%;
    margin: 10px;
    position: relative;
  }
  #form1 input{
    width: 100%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    /* box-sizing: border-box; */
  }
  #form1 input:focus {
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF;
    outline: 0;
    position: relative;
  }
  #kouhos{
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top:2.5em;
    display: none;
  }
  #kouhos ul{
    margin: 0;
    border: 1px solid #EEE;
    padding-left: 0;
  }
  #kouhos li{
    border: 1px solid white;
    list-style-type: none;
    padding: 0.8rem 5%;;
  }
  #kouhos li:hover{
    background-color: lightskyblue;
    color: white;
    text-decoration: underline;
  }
/* * {
    margin: 0;
    padding: 0;
}
html {
    background-image: url('../img/background5.png');
    background-size: 100%;
    background-position-y: 50%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height:100%;
} */

/* header{
    position: fixed;
    width:100%;
    height:45%;
    top: 0;
    background:	#FAF9F6;
    
} */

/* h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #63a052;
    margin: 20px 0;
    font-weight: bold;
    margin-top: 10%;
}

#menu{
    margin-top: -15%;
}

header img{
    margin-top: 3%;
    text-align: center;
    height: 40%;
}

.menuName{
    margin-right: 5%;
}
.register{
    color: #63a052;
    margin-top: 13%;
    font-size: larger;
    margin-right: 6%;

}

#wrap {
    text-align: center;
    width: 100%;
}

main {
    margin-top: 80%;
    margin-bottom: 10%;
}

.foodStuff{
    font-size: 1.5rem;
    margin-left: -42%;
}

#foodStuffName{
    color: #63a052;
    font-size: 1.3rem;
    background-color:	#ffffff;
    text-align: center;
    width:55%;
    height:100%;
    margin-top: 5%;
    margin-left: 3%;

}
#gram {
    color: #63a052;
    font-size: 1.3rem;
    background-color:	#ffffff;
    text-align: center;
    width:15%;
    height:100%;
    margin-top: 5%;
    margin-right: 3%;
}

#block{
    display: inline-block;
}

#update{
    margin-top: 35%;
    width:100%;
}

#update button {
    background:   #81b277;
    border: none;
    border-radius: 50px; 
    width: 50%;
    height: 49px;

}


img {
    width: 40%;
    height: 55%;
    margin-left: 5%;
    margin-top:7%;
    border: 2px solid #000000;
}

label{  
    color: #0c0c0c;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
    display: inline-block;
}


button{
    color: #f5f1da;
    font-size: medium;
    margin-bottom: 7%;
} */

