* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url('../img/background5.png');
    background-size: 100%;
    background-position-y: 50%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height:100%;
}

header{
    position: fixed;
    width:100%;
    height:38%;
    top: 0;
    background:	#FAF9F6;
    
}

header img{
    margin-top: 3%;
    text-align: center;
    height: 40%;
}

.menuName{
    margin-right: 5%;
}
.register{
    color: #63a052;
    margin-top: 13%;
    font-size: larger;
    margin-right: 6%;

}

#wrap {
    text-align: center;
    width: 100%;
}

main {
    margin-top: 70%;
    margin-bottom: 10%;
}

.foodStuff{
    font-size: 1.5rem;
    margin-left: -42%;
}

#foodStuffName{
    color: #63a052;
    font-size: 1.3rem;
    background-color:	#ffffff;
    text-align: center;
    width:55%;
    height:100%;
    margin-top: 5%;
    margin-left: 3%;

}
#gram {
    color: #63a052;
    font-size: 1.3rem;
    background-color:	#ffffff;
    text-align: center;
    width:15%;
    height:100%;
    margin-top: 5%;
    margin-right: 3%;
}

#block{
    display: inline-block;
}

#update{
    margin-top: 35%;
    width:100%;
}

#update button {
    background:   #81b277;
    border: none;
    border-radius: 50px; 
    width: 50%;
    height: 49px;

}


img {
    width: 40%;
    height: 55%;
    margin-left: 5%;
    margin-top:7%;
    border: 2px solid #000000;
}

label{  
    color: #0c0c0c;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
    display: inline-block;
}


button{
    color: #f5f1da;
    font-size: medium;
    margin-bottom: 7%;
}

