@charset "UTF-8";
html {
    font-size: 62.5%;
    background-color: #000000;
    line-height: 1.5;  
}
body {
    margin: 0 auto;
    padding: 0;
}
#wrap {
    max-width: 375px;
    margin: 0 auto;
    padding-top: 72px;
}
img {
    max-width: 100%;
}
main {
    margin-top: 50%;
}
button {
    background-color: #000;
    border: none;
    font-size: 2.0rem;
    color: #fff;
    text-align: center;
    width: 180px;
    position: fixed;
    bottom: 10%;
}
a {
    text-decoration: none;
    color: #fff;
}
#ok {
    right: 0;
}
#cancel {
    left: 0;
}
